<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Theme Config Js -->
<script src="/assets/js/head.js"></script>

<!-- Bootstrap css -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />


<!-- App css -->
<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />

<!-- Icons css -->
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

<!--fontawesome-->
<link rel="stylesheet" href="/assets/fontawesome-free-6.5.2-web/css/all.min.css" />

<!--Google Font-->
<link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet'>
<link rel="stylesheet" href="/assets/datetimepicker/jquery.datetimepicker.css">
<link rel="stylesheet" href="/assets/sweetalert/sweetalert2.min.css">