<!DOCTYPE html>
<html lang="en" layout:decorate="/layout/_default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <div layout:fragment="style">
        <link rel="stylesheet" th:href="@{/assets/web/share/index.css}"/>
        <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    </div>
</head>
<body>
<div layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Loan Management</a></li>
                        <li class="breadcrumb-item active">View Loan</li>
                    </ol>
                </div>
                <h4 class="page-title">Report</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

        <div class="card">
            <div class="card-header" style="background-color: #e8f6fe">
                <div class="btn-group">
                    <small style="margin-top: 5px; margin-right: 5px;">DATE CREATE: </small>
                    <div class="form-inline d-flex align-items-center">
                        <small>From</small>
                        <input class="form-control form-control-sm ml-2" type="date" name="fdate" id="fdate" required="required" />
                        <small style="margin-left: 3px;">To</small>
                        <input class="form-control form-control-sm ml-2" type="date" name="tdate" id="tdate" required="required" />
                    </div>
                    <div class="form-inline d-flex align-items-center">
                        <small style="margin-left: 3px;" id="txt1">Status:</small>
                        <select class="form-control-sm ml-2" id="ddlLoanType" style="width: 200px;">

                        </select>
                        <button class="btn btn-primary btn-sm" style="margin-left: 3px;" id="btnFilter">
                            <i class="fa-solid fa-filter"></i> Filter
                        </button>
                        <button class="btn btn-danger btn-sm" style="margin-left: 3px;" id="btnClear">
                            <i class="fa-solid fa-eraser"></i> Clear
                        </button>
                        <button class="btn btn-success btn-sm" style="margin-left: 3px;" id="btnExportExcel">
                            <i class="fa-solid fa-file-csv"></i> Export Excel
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="idReportView" class="table table-sm table-hover" style="width:100%;">
                                <thead class="text-center" style="background-color: #e8f6fe">
                                <tr style="color: black">
                                    <th>No</th>
                                    <th>FIRSTNAME</th>
                                    <th>LASTNAME</th>
                                    <th>GENDER</th>
                                    <th>MARITAL STATUS</th>
                                    <th>DATE OF BIRTH</th>
                                    <th>LEGAL ID</th>
                                    <th>ADDRESS</th>
                                    <th>PHONE</th>
                                    <th>EMAIL</th>
                                    <th>CURRENCY</th>
                                    <th>LOAN AMOUNT</th>
                                    <th>LOAN TYPE</th>
                                    <th>LOAN TERM</th>
                                    <th>MONTHLY PAYMENT</th>
                                    <th>BRANCH CODE</th>
                                    <th>CREATED DATE</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div layout:fragment="script">
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>
    <script th:inline="javascript">

        function getLoanType() {
            $.ajax({
                type: "GET",
                url: "api/v1/master-data/getLoanType",
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    // console.log(response);
                    if (response.data.length > 0) {
                        var ddlLoanType = $('#ddlLoanType');
                        ddlLoanType.empty();

                        var defaultOption = new Option('--- Choose Loan Type ---', '');
                        defaultOption.disabled = true; // Disable the option
                        defaultOption.selected = true; // Select the option
                        ddlLoanType.append(defaultOption);

                        for (var i = 0; i < response.data.length; i++) {
                            var LoanType = response.data[i];
                            var loanTypeValue = LoanType.id;
                            var loanTypeText = LoanType.name;
                            var option = new Option(loanTypeText, loanTypeValue);
                            ddlLoanType.append(option); // Append the option to the select element
                        }
                    }
                }
            });
        }
        getLoanType();

        //GET DATA
        $('#idReportView').DataTable({
            data: DataReports,
            columns: [
                {
                    render: function (data, type, full, meta) {
                        return meta.row + 1;
                    }
                },
                {data: "firstName"},
                {data: "lastName"},
                {data: "gender"},
                {data: "maritalStatus"},
                {data: "dateOfBirth"},
                {data: "nationalityId"},
                {data: "address"},
                {data: "phoneNumber"},
                {data: "email"},
                {data: "currency"},
                {data: "loanAmount"},
                {data: "loanType"},
                {data: "loanTerm"},
                {
                    data: "monthlyPayment",
                    render: function(data, type, full, meta) {
                        var formattedValue = parseFloat(data).toFixed(2);
                        return formattedValue;
                    }
                },
                {data: "branch"},
                {
                    data: "createdDate",
                    render: function(data, type, full, meta) {
                        var date = new Date(data);
                        var options = {
                            day: "2-digit",
                            month: "2-digit",
                            year: "numeric"
                        };
                        return date.toLocaleDateString(undefined, options);
                    }
                }
            ]
        });

        var table = $('#idReportView').DataTable();
        var DataReports = [];
            function getData(fdate = '', tdate = '', ddlLoanTypeValue = '') {
                var requestData = {};

                if (fdate) {
                    requestData.fromDate = fdate;
                }
                if (tdate) {
                    requestData.toDate = tdate;
                }
                if (ddlLoanTypeValue) {
                    requestData.loanTypeId = ddlLoanTypeValue;
                }

                $.ajax({
                    url: '/api/v1/loan/report',
                    type: "GET",
                    dataType: "JSON",
                    data: requestData,
                    success: function (response) {
                        if (response.status.errorCode === 200) {
                            console.log(response);
                            DataReports = response.data;

                            table.clear();
                            table.rows.add(DataReports);
                            table.draw();
                        }
                    }
                });
            }
        //Get Data To Excel
        function exportToExcel(response) {
            // Create a new Excel workbook
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet("LOAN-Report");

            // Add column headers to the worksheet
            var headers = [
                "№",
                "FIRST NAME",
                "LAST NAME",
                "GENDER",
                "MARITAL STATUS",
                "DATE OF BIRTH",
                "LEGAL ID",
                "ADDRESS",
                "PHONE",
                "EMAIL",
                "CURRENCY",
                "LOAN AMOUNT",
                "LOAN TYPE",
                "LOAN TERM",
                "MONTHLY PAYMENT",
                "BRANCH CODE",
                "CREATED DATE"
            ];
            worksheet.addRow(headers);

            // Set header styles
            var headerRow = worksheet.getRow(1);
            headerRow.eachCell(function (cell) {
                cell.fill = {
                    type: "pattern",
                    pattern: "solid",
                    fgColor: { argb: "e8f6fe" }
                };
                cell.font = {
                    bold: true
                };
            });

            // Add data rows to the worksheet
            $.each(response, function (index, item) {
                var rowData = [
                    index + 1,
                    item.firstName,
                    item.lastName,
                    item.gender,
                    item.maritalStatus,
                    item.dateOfBirth,
                    item.nationalityId,
                    item.address,
                    item.phoneNumber,
                    item.email,
                    item.currency,
                    item.loanAmount,
                    item.loanType,
                    item.loanTerm,
                    item.monthlyPayment,
                    item.branch,
                    item.createdDate
                ];
                worksheet.addRow(rowData);
            });

            //set autofit
            worksheet.columns.forEach(function (column) {
                var maxLength = 0;
                column.eachCell({ includeEmpty: true }, function (cell) {
                    var columnLength = cell.value ? cell.value.toString().length : 10;
                    if (columnLength > maxLength) {
                        maxLength = columnLength;
                    }
                });
                column.width = maxLength + 2;
            });

            // Set content alignment to center
            worksheet.eachRow(function (row, rowNumber) {
                row.eachCell(function (cell) {
                    cell.alignment = { horizontal: 'center' };
                });
            });

            // Generate a download link for the Excel file
            workbook.xlsx.writeBuffer().then(function (buffer) {
                var blob = new Blob([buffer], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                var url = URL.createObjectURL(blob);
                var link = document.createElement("a");
                link.href = url;
                link.download = "Loan-Report.xlsx";
                link.click();
            });
        }
        // Bind the export event outside the AJAX success function
        $("#btnExportExcel").click(function () {
            exportToExcel(DataReports);
        });

        //get value typeOfBook
        var ddlLoanTypeValue;
        $("#ddlLoanType").change(function () {
            var selectOptionValue = $(this).val();
            ddlLoanTypeValue = selectOptionValue;
        });

        $("#btnFilter").click(function () {
            var fromDate = $("#fdate").val() ? new Date($("#fdate").val()).toLocaleDateString('en-GB', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit'
            }).split('/').reverse().join('-') : null;

            var toDate = $("#tdate").val() ? new Date($("#tdate").val()).toLocaleDateString('en-GB', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit'
            }).split('/').reverse().join('-') : null;

            getData(fromDate, toDate, ddlLoanTypeValue);
        });

        $('#btnClear').click(function () {
            $("#fdate").val("");
            $("#tdate").val("");
            $('#ddlLoanType').val("");

            getData();
        })
    </script>
</div>
</body>
</html>