<!DOCTYPE html>
<html lang="en" layout:decorate="/layout/_default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <div layout:fragment="style">
        <link rel="stylesheet" th:href="@{/assets/web/share/index.css}"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="justify-content-center d-flex txtTitle1 mt-5 mb-5">
        WELCOME TO RUPPBank
    </div>
</div>
<div layout:fragment="script">

</div>
</body>
</html>